*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: url(/images/photoshop/design-assets/bgk-header.png) top center ;
    background-size: cover;  
}

#logo_header{
    padding: 0px 25px 0px 0px;
    display: flex;
    color: grey;
    font-size: 30px;
    align-content:flex-end;
}

#headerandlogo{
    padding: 10px 200px;
    display: flex;
    color: grey;
    justify-content: space-between;
    align-content: flex-start;
    height: auto;
}

.navheader{
    padding: 2px 7px 20px 7px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    flex-wrap: wrap;
}

nav {
    color: red;
}

#hero-section {
    margin: 0 auto;
    height: 500px;
    width: 800px;
    display: block;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: white;
}

#hrherosection{
    margin: 0 auto; 
    width: 55px;
    height: 4px;
    background-color: turquoise;
    justify-content: center;
    }

#learnmore_button{
    display: inline-block;
    color: turquoise;
    padding:  10px 10px 10px 10px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    text-transform: uppercase;
}

#our_story-section {
        color: black;
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        width: 900px;
        margin: 0px auto;
}
.logo img {
    width: 150px;
    height: 150px;
    margin: 9rem 0px auto auto;
}
.OurStory {
    width: 800px;
    padding: 100px;}


    #watch-section {
        color: white;
        background-image: url(./images/photoshop/design-assets/bgk-middle.png);
        height: 500px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .video {
        width: 800px;
        height: 150px;
        text-align: center;
        margin: 800px 600px;}

        h3 {
            display: block;
            font-size: 1.17em;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }
        .expertise {
            height: 50px;
            text-align: center;
            margin: 50px;
        }

        .expertise h2 {
            font-size: 30px;}

            .expertise p {
                font-size: 20px;
            }

            .line {
                display: inline-block;
                border-width: 1px;
                border-style: solid;
                border-color: black;
                border-image: initial;
                margin: 20px;
                padding: 0px 100px;
            }
    
            #expertise-section {
                color: black;
                height: 500px;
                text-align: center;
                display: flex;
            }

            #expertise-section div {
                width: 200px;
                height: 150px;
                justify-content: space-between;
                flex-wrap: wrap;
                padding: 5px;
                margin: 50px 20px;
            }

            

#expertise-section {
    color: fuchsia;
}

#team-section {
    color: yellowgreen;
}

#contact_client-section {
    color: lightsalmon;
}


/* Start footer / Tobias */
footer {
    width: 100%;
    background: url("images/photoshop/design-assets/bgk-footer.png") top center no-repeat;
    background-size: cover;
    padding-top: 2rem;
    height: 300px;
    font-family: "Arial", sans-serif;
}

/* 3 Spalten */
.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 1320px;
    margin: 0 auto;
}

/* Überschriften */
.footer-grid h3 {
    margin-bottom: 3rem;
    color: white;
}

/* Textfarbe */
.footer-grid p {
    color: white;
    line-height: 1.25rem;
    font-size: 16px;
}

.footer-logo {
    float: left;
    margin-right: 1.5rem;
}

.list-address {
    list-style: none;
    color: white;
}

.list-address li {
    margin-bottom: 0.5rem;
}
.list-address li:first-child {
    list-style-image: url("images/photoshop/design-assets/png/big104.png");
}
.list-address li:last-child {
    list-style-image: url("images/photoshop/design-assets/png/phone351.png");
}

.get-in-touch {
    margin-bottom: 1rem;
}

/* Div um Input und Button */
.input-group-newsletter {
    display: flex;
}


#subscribe-me {
    padding: 10px;
    border: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: block;
    width: 100%;
}

#subscribe-me:focus {
    outline: 0;
    background-color: rgb(9, 253, 17);
}

#confirm-subscribtion {
    padding: 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #ccc;
    border-left: 0;
    color: #fff;
    background-color: #00c9b5;
}

.footer-bar {
    display: flex;
    width: 1320px;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 2rem;
    justify-content: space-between;
}

.footer-bar ul {
    margin-left: 0;
    padding-left: 0;
}

.footer-bar ul li {
    list-style: none;
    display: inline;
}

.footer-bar ul li a:link,
.footer-bar ul li a:visited {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
}

.footer-bar ul li a:hover,
.footer-bar ul li a:focus {
    color: #ccc;
    text-decoration: none;
    margin-right: 1rem;
}

.footer-bar p {
    color: white;
}